Devoir 2/Rapport/LINMA1170 Devoir 2.zip
Devoir 3/__pycache__/devoir3.cpython-310.pyc
Devoir 3/__pycache__/devoir3.dot-6.py310.1.nbc
Devoir 3/__pycache__/devoir3.dot-6.py310.nbi
Devoir 3/__pycache__/devoir3.mprod-21.py310.1.nbc
Devoir 3/__pycache__/devoir3.mprod-21.py310.nbi
Devoir 3/__pycache__/devoir3.cpython-310.pyc
Devoir 3/__pycache__/devoir3.dot-9.py310.1.nbc
Devoir 3/__pycache__/devoir3.dot-9.py310.2.nbc
Devoir 3/__pycache__/devoir3.dot-9.py310.nbi
Devoir 3/__pycache__/devoir3.MM_prod-24.py310.1.nbc
Devoir 3/__pycache__/devoir3.MM_prod-24.py310.2.nbc
Devoir 3/__pycache__/devoir3.MM_prod-24.py310.nbi
Devoir 3/__pycache__/devoir3.MM_prod-38.py310.1.nbc
Devoir 3/__pycache__/devoir3.MM_prod-38.py310.2.nbc
Devoir 3/__pycache__/devoir3.MM_prod-38.py310.nbi
Devoir 3/__pycache__/devoir3.vdot-23.py310.1.nbc
Devoir 3/__pycache__/devoir3.vdot-23.py310.2.nbc
Devoir 3/__pycache__/devoir3.vdot-23.py310.nbi
Devoir 3/__pycache__/devoir3.VM_prod-46.py310.1.nbc
Devoir 3/__pycache__/devoir3.VM_prod-46.py310.2.nbc
Devoir 3/__pycache__/devoir3.VM_prod-46.py310.nbi
Devoir 3/__pycache__/devoir3.VM_prod-57.py310.1.nbc
Devoir 3/__pycache__/devoir3.VM_prod-57.py310.2.nbc
Devoir 3/__pycache__/devoir3.VM_prod-57.py310.nbi
Devoir 3/__pycache__/devoir3.cpython-310.pyc
Devoir 3/__pycache__/devoir3.MM_prod-40.py310.1.nbc
Devoir 3/__pycache__/devoir3.MM_prod-40.py310.2.nbc
Devoir 3/__pycache__/devoir3.MM_prod-40.py310.3.nbc
Devoir 3/__pycache__/devoir3.MM_prod-40.py310.nbi
Devoir 3/__pycache__/devoir3.MV_prod-64.py310.1.nbc
Devoir 3/__pycache__/devoir3.MV_prod-64.py310.nbi
Devoir 3/__pycache__/devoir3.vdot-28.py310.1.nbc
Devoir 3/__pycache__/devoir3.vdot-28.py310.2.nbc
Devoir 3/__pycache__/devoir3.vdot-28.py310.3.nbc
Devoir 3/__pycache__/devoir3.vdot-28.py310.nbi
Devoir 3/__pycache__/devoir3.VM_prod-56.py310.1.nbc
Devoir 3/__pycache__/devoir3.VM_prod-56.py310.2.nbc
Devoir 3/__pycache__/devoir3.VM_prod-56.py310.nbi
Devoir 3/__pycache__/devoir3.cpython-310.pyc
Devoir 3/__pycache__/devoir3.cpython-310.pyc
Devoir 3/__pycache__/devoir3.cpython-310.pyc
Devoir 3/__pycache__/devoir3.dot-9.py310.3.nbc
Devoir 3/__pycache__/devoir3.dot-9.py310.4.nbc
Devoir 3/__pycache__/devoir3.MM_prod-37.py310.1.nbc
Devoir 3/__pycache__/devoir3.MM_prod-37.py310.nbi
Devoir 3/__pycache__/devoir3.MM_prod-39.py310.1.nbc
Devoir 3/__pycache__/devoir3.MM_prod-39.py310.nbi
Devoir 3/__pycache__/devoir3.MM_prod-42.py310.1.nbc
Devoir 3/__pycache__/devoir3.MM_prod-42.py310.2.nbc
Devoir 3/__pycache__/devoir3.MM_prod-42.py310.nbi
Devoir 3/__pycache__/devoir3.MV_prod-67.py310.1.nbc
Devoir 3/__pycache__/devoir3.MV_prod-67.py310.nbi
Devoir 3/__pycache__/devoir3.MV_prod-70.py310.1.nbc
Devoir 3/__pycache__/devoir3.MV_prod-70.py310.nbi
Devoir 3/__pycache__/devoir3.vdot-25.py310.1.nbc
Devoir 3/__pycache__/devoir3.vdot-25.py310.nbi
Devoir 3/__pycache__/devoir3.VM_prod-53.py310.1.nbc
Devoir 3/__pycache__/devoir3.VM_prod-53.py310.nbi
Devoir 3/__pycache__/devoir3.VM_prod-60.py310.1.nbc
Devoir 3/__pycache__/devoir3.VM_prod-60.py310.nbi
Devoir 3/__pycache__/devoir3.cpython-310.pyc
Devoir 3/__pycache__/